body{
    overflow-x: hidden;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
    div#logo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 199%;
        height: 550px;
        background-color: hsl(214, 64%, 98%);
        /* border-radius: 25px; */
        margin-left: -90%;
        transform: rotate(-40deg);
        /* margin-left: -50px; */
        z-index: -1;
        /* transform-box: view-box; */
        /* offset-rotate: reverse; */
    }

    div#imgLogo {
        position: absolute;
        margin-top: 60px;
        margin-left: 5%;
        z-index: 10;
    }
    div#rectangle {
       /* overflow: auto; */
    /* clear: both; */
    justify-self: end;
    width: 100%;
    height: 850px;
    background: linear-gradient(hsl(265, 100%, 66%), hsl(322, 100%, 66%));
    transform: rotate(50deg);
    margin-left: 40%;
    margin-top: -9%; 
    border-radius: 50px;
    position: absolute;
    }
    div#tryIt {
        position: relative;
        /* align-self: baseline; */
        justify-self: end;
        width: 30%;
        height: 50px;
        background: white;
        text-align: center;
        font-size: large;
        line-height: 2.5em;
        margin-top: 5%;
        margin-right: 10%;
    }
    main {
        /* clear: both; */
        position: absolute;
    }
    div#hero {
        width: 100%;
    }
    img#mockups {
        width: 60%;
        margin-left: 20%;
        /* margin: auto; */
    }