body {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: large;
    font-weight: 400;
    overflow-x: hidden;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div#logo {
    width: 199%;
    height: 550px;
    background-color: hsl(214, 64%, 98%);
      margin-left: -90%;
    transform: rotate(-40deg);
      z-index: -1;
}

div#imgLogo {
    position: absolute;
    margin-top: 60px;
    margin-left: 5%;
    z-index: 10;
}

div#rectangle {
    /* overflow: auto; */
    /* clear: both; */
    justify-self: end;
    width: 100%;
    height: 850px;
    background: linear-gradient(hsl(265, 100%, 66%), hsl(322, 100%, 66%));
    transform: rotate(50deg);
    margin-left: 40%;
    margin-top: -9%;
    border-radius: 50px;
    position: absolute;
    z-index: -1;
}

div#flowing {
    margin: 0 5%;
}

div#tryIt {
    position: relative;
    /* align-self: baseline; */
    justify-self: end;
    width: 30%;
    height: 50px;
    background: white;
    text-align: center;
    font-size: large;
    line-height: 2.5em;
    margin-top: 5%;
    margin-right: 10%;
}

main {
    /* clear: both; */
    z-index: -1;
    width: 100%;
    position: absolute;
}

div#hero {
    width: 100%;
    margin-top: -25%;
}

img#mockups {
    width: 50%;
    margin-left: 22%;
    /* margin: auto; */
}

div#build {
    /*  margin-top: 20%;
        margin: auto; */
    margin-left: 30%;
}

div#build p {
    width: 50%;
    text-align: center;
}

p {
    font-size: x-large;
}

button.getStarted {
    width: 300px;
    height: 40px;
    font-size: large;
    background-color: hsl(322, 100%, 66%);
    color: white;
    /* margin: auto; */
}

div#illustration {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: hsl(214, 64%, 98%);
    margin-top: 20%;
}

div#illustration img {
    width: 95%;
}

div#featured {
    padding-bottom: 30%;
    background-color: hsl(214, 64%, 98%);
}

div#trial {
    margin: auto;
    width: 50%;
    text-align: center;
    background-color: white;
    padding: 8% 10%;
}

footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin-top: 2050px;
    color: white;
    background-color: hsl(192, 100%, 9%);
    padding: 5% 3% 5% 3%;
    grid-gap: 5%;
}

.copy img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: x-large;
}

input[type="text"] {
    width: 300px;
    height: 40px;
    margin-bottom: 5%;
}

footer button {
    width: 150px;
    height: 40px;
    font-size: large;
    background-color: hsl(322, 100%, 66%);
    color: white;
    /* margin: auto; */
}

.fa {
    width: 40px;
    margin: 20% 2%;
    text-align: center;
    border-radius: 5px;
    padding: 2px;
    font-size: xx-large;
    text-decoration: none;
    background-color: white;
    color: hsl(192, 100%, 9%);
}

div#socialContacts {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
}

p.attribution {
    grid-area: 2/1/2/3;
    font-size: x-large;
    /* text-align: center; */
    justify-self: center;
    font-style: italic;
}

footer p {
    font-size: large;
}

p.attribution a {
    color: indianred;
}