    div#imgLogo img {
        width: 60%;
    }

    div#rectangle {
        height: 650px;
        transform: rotate(50deg);
        margin-left: 60%;
        margin-top: -29%;
    }

    div#logo {
        width: 199%;
        height: 570px;
        margin-left: -90%;
        margin-top: -90%;
        transform: rotate(-40deg);

    }

    div#tryIt {
        width: 50%;
        height: 15%;
        margin-top: 15%;
    }

    div#hero {
        margin-top: -5%;
    }

    div#build {
        margin-left: 15%;
    }

    div#build h1 {
        width: 70%;
        font-size: larger;
        text-align: center;
    }

    div#build p {
        width: 80%;
        font-size: small;
    }

    button.getStarted {
                margin: 10% 15%;
        width: 280px;
        height: 35px;
        font-size: small;
    }

    div#illustration {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 5%;
    }

    div#illustration img {
        width: 80%;
        margin: auto;
    }

    div#flowing h2 {
        text-align: center;
    }

    div#flowing p {
        font-size: small;
        margin: auto;
        width: 60%;
        text-align: center;
    }

    div#trial {
        padding: 5%;
        width: 80%;
        font-size: medium;
    }

    div#trial  p{
        font-size: medium;
    }

    button.getStarted {
        width: 280px;
        height: 35px;
        font-size: small;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin-top: 1780px;
        padding: 20% 3% 5% 3%;
        grid-gap: 5%;
    }

    .copy {
        margin-top: -10%;
        width: 100%;
    }

    .copy img {
        width: 50%;
    } 

    .about {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: medium;
        margin-left: 5%;
        justify-content: center;
        align-items: start;
        width: 100%;
    }

    h6 {
        margin-bottom: -3%;
    }

    h4 {
        text-align: center;
    }

    footer p {
        font-size: small;
        width: 60%;
        margin: 5% auto;
        text-align: center;
    }

    button#sub {
        font-size: medium;
    }
    
    div#socialContacts {
        display: grid;
        grid-template-columns: 1fr;
    }
